/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2014, 2:23:04 PM
    Author     : kristin rievley
*/

html {
    font-family: 'High Tower Text';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
th {
    font-size: 22px;
    text-align:left;
}
td {
    vertical-align:middle;
    text-align:left;
    padding:7px;
    font-size:18px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}

a {
    text-decoration: none;
}
label {
    font-weight: bold;
}
#header{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #FBD161 0%, #F8C640 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FBD161 0%, #F8C640 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FBD161 0%, #F8C640 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FBD161), color-stop(1, #F8C640));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FBD161 0%, #F8C640 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #FBD161 0%, #F8C640 100%);
    height: 70px;
    text-align: right;
    padding-top: 35px;
}
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    //background-color: rgba(255, 255, 255, 0.8);
}
.border {
    background-image: url(../images/Jelly-Beans.png); 
    background-repeat: repeat-x;
    background-size: 10%;
    height: 80px;
    margin-top: -30px;
}
.nav_link {
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #4E6A96), color-stop(1, #394F74));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #4E6A96 0%, #394F74 100%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 35px;
    color: white;
    border-radius: 40px;
    font-weight: bold;
}
.parties {
    
}
#footer {
    height: 300px;
}
.error {
    font-family: Arial;
    font-size: 12px;
    color: red;
    font-style: italic;
}
.flash-message {
    * IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #4E6A96), color-stop(1, #394F74));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #4E6A96 0%, #394F74 100%);
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 50px;    
}
.submit_button {
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #4E6A96), color-stop(1, #394F74));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #4E6A96 0%, #394F74 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #4E6A96 0%, #394F74 100%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 35px;
    color: white;
    border-radius: 40px;
    font-weight: bold;
}
.web {
    width: 400px;
}
.col1 {
    width: 100%;
}
.col3 {
    width: 33%;
    display: inline-block;
}
.col4 {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
.col5 {
    width: 66%;
    display: inline-block;
}
.col6 {
    width: 100%;
    text-align: center;
}
