/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2014, 11:35:48 PM
    Author     : krievley
*/

h1 {
    font-family: 'Harrington';
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: left;
}
th {
    padding-left: 10px;
    font-size: 20px;
    min-width: 150px;
}
td {
    padding-left: 10px;
}
#dateTime, #misc {
    padding-left: 35px;
    padding-bottom: 35px;
    
}
#nav {
    padding-left: 20px;
    margin-bottom: 30px;
}
.content {
    background-color: rgba(192, 192, 192, 0.3);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.cover {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.error {
    font-family: Arial;
    font-size: 12px;
    color: red;
    font-style: italic;
}
.list {
    padding-bottom: 50px;
}
.pop {
    color: #737373;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin: auto;
    position:absolute;
    text-align:left;
    width:620px;
    height: 550px;
    z-index:50;
    padding: 25px 25px 20px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.flash-message {
    background-color: red;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 50px;    
}
.col1 {
    width: 99%;
    text-align: right;
}
.col2 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.col5 {
    text-align: left;
    margin-top: 35px;
    margin-left: 50px;
}
.col6 {
    width: 99%;
}